body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}


header nav a:hover {
    background: #45a049;
    border-radius: 5px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

.nav-list li {
    position: relative;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-list a:hover {
    background: #45a049;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4CAF50;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    border-bottom: 1px solid #45a049;
}

.dropdown-content li:last-child {
    border-bottom: none;
}

.dropdown-content a {
    text-align: left;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #45a049;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 0px;
}

.hamburger span {
    background: white;
    border-radius: 5px;
    display: block;
    height: 4px;
    margin: 5px 0;
    width: 40px;
}

.blur{
    -ms-filter: blur(6px);
    filter: blur(6px);
  }

.hero0 {
    
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffc800;
    text-align: center;
    padding-top: 60px;
    background-color: #ffffff;
  
}

.hero {
    
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    padding-top: 100px;
    background-color: #ffffff;
    color: #000000;
}

.section0 button {
    background: #fcaf17;
    border: none;
    padding: 15px 40px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

.section0 button:hover {
    background: #f58220;
}

.section0 {
    padding: 120px 20px;
    text-align: center;
}

.section0 p {
    text-align:justify;
}

.section0 h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #fcaf17;
}

.section button {
    background: #fcaf17;
    border: none;
    padding: 15px 40px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

.section button:hover {
    background: #f58220;
}

.section {
    padding: 120px 20px;
    text-align: center;
    background-color:#F0F0F0;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #fcaf17;
}

.section1 button {
    background: #fcaf17;
    border: none;
    padding: 15px 40px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

.section1 button:hover {
    background: #f58220;
}

.section1 {
    padding: 0px 20px;
    text-align: center;
}

.section1 p {
    text-align:justify;
}

.section1 h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #fcaf17;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    object-fit: cover;
    object-position: center;
}

.card {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.card1 {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: 870px;
    text-align: center;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #005931;
}

.card p {
    color: #005931;
    transform: translate(0%,0%);
    text-align: center;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #005931;
    text-decoration: none;
    border: 1px solid #005931;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.card a:hover {
    background: #005931;
    color: white;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer div a {
    margin: 0 10px;
    display: inline-block;
}



@media (max-width: 768px) {
    .hero h1 {
        font-size: 2em;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        flex-direction: column;
    }
    header nav a {
        padding: 10px 0;
    }
    .nav {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .nav.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #4CAF50;
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-list a {
        padding: 10px;
        text-align: center;
    }
}
